.input-class {
  opacity: 0;
  position: absolute;
  margin: auto;
  width: 94%;
  height: 70%;
  top: 0;
  left: 0;
}

.text-class {
  position: relative;
}

.unlook {
  display: none;
}

.blurred {
  opacity: 2%;
}

.change-class {
  color: darkgray;
  position: absolute;
  margin: auto;
  height: fit-content;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.block-typing {
  min-height: 95vh;
}
